.part1{
    background:url("img-projet2/image-2-egae-926x1800.jpg");
background-size: cover;
height: 100vh;

}


body{

    position: relative;
}

.navbar{

    margin-left: 7rem;
    margin-right: 7rem;

}

#navbar{
  
    position:relative;
    z-index:100;
}

#position_bloc{
  
    position:0px;
}






/*DAVID*/
.part2{
    background:url("img-projet2/image-1-egae-1000x1800.jpg");
    background-size: 100%;
    height: 100vh;
    
}

.part3{
    
    background:url("img-projet2/Asite_couv21.jpg") ;
    background-size: 100%;
    height: 100vh;
}
.part4{
    padding: 0;
}
/*tous les images */
img{
    width: 100%;
}
/* div dans la col 4///////////////////////////////////////////////////*/
.textbloc{
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -70px;
  
    
     
}
.contact, .textcard2, .medialogo{
    font-size: 0.8rem;
}
.card{
    border: none;
}


.textcard{
    line-height: 1rem;
    font-size: 0.8rem;
}
h3{
    font-size: 1.5rem;
}
/* overflow colonne 4*/
#scroll4{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}