.part1{
    background:url("img-projet2/image-2-egae-926x1800.jpg") ;
background-size: 100%;
height: 100vh;

}



















/*DAVID*/
.part2{
    background:url("img-projet2/image-1-egae-1000x1800.jpg");
    background-size: 100%;
    height: 100vh;
    
}

.part3{
    
    background:url("img-projet2/Asite_couv21.jpg");
    background-size: 100%;
    height: 100vh;
}
.part4{
    padding: 0;
}
/*tous les images */
img{
    width: 100%;
}
/* div dans la col 4///////////////////////////////////////////////////*/
.textbloc{
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -80px;
  
    
     
}
.contact{
    padding: 15px
}
.card{
    border: none;
}


.textcard{
    line-height: 1rem;
}

